---
import { TextB1 } from "../../../format/BoldTypography";
import { TextR2, TextR3 } from "../../../format/RegularTypography";
import ProjectPageContextIcon from "./ProjectPageContextIcon.astro";
import type { ProjectPageContextCardTypes } from "../../../types/ProjectPageContextCardTypes.ts";

const { children, section, title } = Astro.props as ProjectPageContextCardTypes;
---

<div
	class='sm:w-[328px] sm:h-[202px] md:w-[328px] md:h-[202px] xl:w-[584px] xl:h-[480px] lg:w-[560px] lg:h-[500px] p-[27px] rounded-2xl dark:shadow-[4px_4px_20px_0_#b997f9] dark:bg-github shadow-[4px_4px_20px_0_#4b506b]'>
	<div>
		<ProjectPageContextIcon>{children}</ProjectPageContextIcon>
	</div>
	<div class='my-4 flex xl:hidden'>
		<TextB1>{title}</TextB1>
	</div>
	<div class='flex flex-col xl:hidden'>
		{
			section.map((grupo) => {
				return (
					<>
						<div class='my-4'>
							<TextR3>{grupo.listTitle}</TextR3>
						</div>
						<TextR3>
							<ul class='list-disc pl-5'>
								{grupo.listItems.map((item) => (
									<li>{item}</li>
								))}
							</ul>
						</TextR3>
					</>
				);
			})
		}
	</div>
	<div class='xl:flex xl:flex-row hidden'>
		{
			section.map((grupo) => {
				return (
					<>
						<div class='my-4'>
							<TextR3>{grupo.listTitle}</TextR3>
						</div>
						<TextR2>
							<ul class='list-disc pl-5'>
								{grupo.listItems.map((item) => (
									<li>{item}</li>
								))}
							</ul>
						</TextR2>
					</>
				);
			})
		}
	</div>
</div>
