---
import ProgressWLabel from "./ProgressWLabel.astro";
import type { ProgressGeneralTypes } from "../../types/ProgressTypes.ts";
import { TextR4 } from "../../format/RegularTypography";
import ProgressWLabelAndName from "./ProgressWLabelAndName";

const { value, size, text } = Astro.props as ProgressGeneralTypes;
const sizes: { [key: string]: number } = {
	xs: 64,
	s: 152,
	m: 200,
	l: 232,
	xl: 280,
};

const key = size.toLowerCase();
---

{
	key === "xs" ? (
		<div class='flex flex-col dark:text-blanco text-negro3  items-center'>
			<ProgressWLabel value={value} size={sizes[key]} />
			<TextR4>{text}</TextR4>
		</div>
	) : (
		<div>
			<ProgressWLabelAndName
				value={value}
				size={sizes[key]}
				text={text}
				client:load
			/>
		</div>
	)
}
