---
import Navbar from "../navbar/Navbar";
import taxiImage from "../../assets/img/porta/Taxis/01 01 01 portada.png";
import ProjectPageContent from "../projectsPage/ProjectPageContent.astro";
import ProjectPageAlcance from "../projectsPage/ProjectPageAlcance.astro";

const stakeholders = ["Gerente General taxitel", "Área de Marketing"];
const metodologia = ["Design thinking", "Scrum"];
const equipo = ["2 UX/UI Designers", "1 Full Stack Developer"];
const kpis = ["Tasa de conversión", "Tasa de retención", "Aumento pedidos"];
---

<div class='w-full dark:bg-negro3'>
	<Navbar client:load />
	<div
		class='w-full dark:bg-negro3 sm:px-4 md:px-11 lg:px-[107px] xl:px-[204px] pb-1'>
		<ProjectPageContent
			title='App para taxis'
			image={taxiImage}
			description='...'
		/>

		<ProjectPageAlcance
			stakeHolders={stakeholders}
			metodologia={metodologia}
			equipo={equipo}
			kpis={kpis}
			embedURL='https://embed.figma.com/design/xGYDzgO1snXpYLrvjCrulF/Taxitel?node-id=0-1&embed-host=share'
		/>
	</div>
</div>
