---
import { TextB1 } from "../../../format/BoldTypography";
import { TextR2, TextR3 } from "../../../format/RegularTypography";
import ProjectPageAlcanceIcon from "./ProjectPageAlcanceIcon.astro";
import type { ProjectPageAlcanceCardTypes } from "../../../types/ProjectPageAlcanceCardTypes";

const { children, text, title } = Astro.props as ProjectPageAlcanceCardTypes;
---

<div
	class='sm:w-[328px] sm:h-[202px] md:w-[328px] md:h-[202px] xl:w-[360px] xl:h-[220px] lg:w-[270px] lg:h-[202px] p-[27px] rounded-2xl dark:shadow-[4px_4px_20px_0_#b997f9] dark:bg-github shadow-[4px_4px_20px_0_#4b506b]'>
	<div>
		<ProjectPageAlcanceIcon>{children}</ProjectPageAlcanceIcon>
	</div>
	<div class='my-4 flex xl:hidden'>
		<TextB1>{title}</TextB1>
	</div>
	<div class='flex xl:hidden'>
		<TextR3>
			<ul class='list-disc pl-5'>
				{text.map((item) => <li>{item}</li>)}
			</ul>
		</TextR3>
		<!-- <TextR3>{text.map((text) => <li>{text}</li>)}</TextR3> -->
	</div>
	<div class='my-4 xl:flex hidden'>
		<TextB1>{title}</TextB1>
	</div>
	<div class='xl:flex hidden'>
		<TextR2>
			<ul class='list-disc pl-5'>
				{text.map((item) => <li>{item}</li>)}
			</ul>
		</TextR2>
	</div>
</div>
